.photo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (284px)[4];
      grid-template-columns: repeat(4, 284px);
  -ms-grid-rows: (213px)[3];
      grid-template-rows: repeat(3, 213px);
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  padding: 92px 0 0 0;
  max-width: calc(100% - 96px);
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    gap: 14px;
    -ms-grid-columns: (300px)[3];
        grid-template-columns: repeat(3, 300px);
    -ms-grid-rows: (225px)[4];
        grid-template-rows: repeat(4, 225px);
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 88px 0 0 0;
    max-width: calc(100% - 48px);
    gap: 16px;
    -ms-grid-columns: (352px)[2];
        grid-template-columns: repeat(2, 352px);
    -ms-grid-rows: (264px)[6];
        grid-template-rows: repeat(6, 264px);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding-top: 64px;
    max-width: calc(100% - 32px);
    row-gap: 12px;
    -ms-grid-columns: 288px;
        grid-template-columns: 288px;
    -ms-grid-rows: (216px)[12];
        grid-template-rows: repeat(12, 216px);
  }
}