.places {
  max-width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0 0 92px 0;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(5, fit-content(660px));
  row-gap: 80px;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .places {
    row-gap: 73px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 730px) {
  .places {
    row-gap: 50px;
    padding-bottom: 66px;
  }
}
