.intro__list {
  width: calc(100% - (148px + 442px));
  margin: 0;
  padding: 0 0 0 148px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .intro__list {
    width: calc(100% - (48px + 286px));
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro__list {
    width: calc(100% - (24px + 24px));
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro__list {
    width: calc(100% - (16px + 16px));
    padding-left: 16px;
  }
}
