.header {
  max-width: 100%;
  margin: 0;
  padding: 28px 96px 56px 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 100%;
    padding: 28px 48px 48px 48px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 100%;
    padding: 28px 32px 48px 32px;
  }
}