.footer__link {
  margin: 0 18px 0 0;
  padding: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.footer__link:hover{
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__link {
    width: 100%;
    margin-bottom: 32px;
  }
}