.footer__link {
  margin: 0;
  padding: 0 18px 0 0;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in linear;
}

.footer__link:hover{
  opacity: 0.8;
}

@media screen and (max-width: 730px) {
  .footer__link {
    width: 100%;
    padding-right: 0;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 730px) {
  .footer__link:last-of-type {
    padding-bottom: 0;
  }
}
