.cover {
  max-width: 100%;
  margin: 0;
  padding: 0 48px 92px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding-bottom: 64px;
  }
}
