.place {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (484px)[460px];
      grid-template-columns: repeat(460px 484px);
  -ms-grid-rows: (460px)[fit-content];
      grid-template-rows: repeat(fit-content 460px);
  grid-template-areas: 
  "title link"
  "image paragraph";
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    -ms-grid-columns: (456px)[440px];
        grid-template-columns: repeat(440px 456px);
    -ms-grid-rows: (440px)[fit-content];
        grid-template-rows: repeat(fit-content 440px);
  }
}

@media screen and (max-width: 768px) {
  .place {
    -ms-grid-columns: (352px)[340px];
        grid-template-columns: repeat(340px 352px);
    -ms-grid-rows: (340px)[fit-content];
        grid-template-rows: repeat(fit-content 340px);
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: (-webkit-fit-content)[4];
    -ms-grid-rows: (fit-content)[4];
    grid-template-rows: repeat(4, -webkit-fit-content);
    grid-template-rows: repeat(4, fit-content);
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
        grid-template-areas:
    "title"
    "link"
    "image"
    "paragraph";
  }
}