.place {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(460px 484px);
  grid-template-rows: repeat(fit-content 460px);
  grid-template-areas: 
  "title link"
  "image paragraph";
  column-gap: 40px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .place {
    grid-template-columns: repeat(440px 456px);
    grid-template-rows: repeat(fit-content 440px);
  }
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(340px 352px);
    grid-template-rows: repeat(fit-content 340px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, fit-content);
    column-gap: 0px;
    grid-template-areas:
    "title"
    "link"
    "image"
    "paragraph";
  }
}