.place__website {
  max-width: 484px;
  margin: 0;
  padding: 0;
  grid-area: link;
  -ms-grid-row-align: end;
  align-self: end;
}

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 730px) {
  .place__website {
    min-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    min-width: calc(100% - (16px + 16px));
  }
}
