.intro__title {
  width: calc(100% - (148px + 442px));
  margin: 0;
  padding: 0 0 40px 148px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    width: calc(100% - (48px + 286px));
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    width: calc(100% - (24px + 24px));
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    width: calc(100% - (16px + 16px));
    padding-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
